body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

.azul {
  color: #222D66;
}

.amarillo {
  color: #FBBF3D;
}

.botones-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.inicio-pagina {
  margin: 0 auto;
  /* max-width: 900px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 83vh;
}

.boton-azul {
  background-color: #222D66;
  color: #f0f0f0;
  padding: 16px;
  border: none;
  width: 120px;
  border-radius: 12px;
  margin-top: 10px;
}

.boton-amarillo {
  background-color: #FBBF3D;
  color: #f0f0f0;
  padding: 16px;
  border: none;
  width: 120px;
  border-radius: 12px;
}

.grupos-container {
  padding: 40px;
  background-color: #f2f2f2;
  /* min-height: 100vh; */
  font-family: Arial, sans-serif;
  text-align: center;
}

.grupos-title {
  text-align: center;
  font-size: 32px;
  color: #333;
  margin-bottom: 40px;
}

.grupo-card {
  border-radius: 12px;
  padding: 20px;
  margin: 10px auto;
  display: flex;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.grupo-descripcion {
  flex: 1;
  min-width: 200px;
  color: #444;
}

.grupo-boton {
  align-self: flex-start;
}

.grupo-boton button {
  padding: 10px 20px;
  background-color: #f8b113;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.grupo-boton button:hover {
  background-color: #0056b3;
}

.enviar-boton-container {
  text-align: center;
  margin-top: 40px;
}

.enviar-boton {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #222D66;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enviar-boton:hover {
  background-color: #999;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-contenido {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.popup-contenido h3 {
  margin-top: 0;
}

.popup-botones {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.seleccionado-mentor {
  background-color: #222d65;
  color: #f0f0f0;
  border: 3px solid #222D66;
}

.seleccionado-grupo {
  background-color: #222d65;
  color: #f0f0f0;
  border: 3px solid #FBBF3D;
}

.titulo-mentor {
  text-align: center;
  font-size: 30px;
  color: #222D66;
  padding-bottom: 0.5rem;
}

.titulo-grupo {
  text-align: center;
  font-size: 30px;
  color: #f5b000;
  padding-bottom: 0.5rem;
}

.subtexto-rol {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.card-mentor {
  background-color: #222d66;
  border: 2px solid #999eb8;
  color: #F0F0F0;
}

.card-grupo {
  color: #694a05;
  background-color: #fbbf3d;
  border: 2px solid #e7a312;
}

.seleccionado {
  outline: 3px solid #333;
  transform: scale(1.03);
}

/* .grupo-foto {
  width: 120px;
  height: 120px;
  
  border-radius: 50%;
  margin-bottom: 10px;
/* } */ */

.btn-cancelar {
  background-color: #babecf;
  color: #292727;
  padding: 16px;
  border: none;
  width: 120px;
  border-radius: 12px;
}

.enviar-boton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type="number"] {
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin-top: 8px;
  transition: border-color 0.2s ease;
}

input[type="number"]:focus {
  outline: none;
  border-color: #007bff;
}

input[type="number"]:disabled {
  background-color: #eee;
  cursor: not-allowed;
  border-color: #999;
}

.titulo-azul {
  color: #222d66;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.titulo-amarillo {
  color: #ffc107;
  font-size: 2.5rem;
  margin-bottom: 15px;
}