#result-record-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #FEF3C8;
  border: 2px solid #E49F0C;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  min-width: 700px;
  gap: 20px;
}

.mentor-container,
.group-container {
  min-width: 300px;
  /* Ensures equal size for both boxes */
  padding: 20px;
  border-radius: 8px;

  /* Default text color */
  /* Matches the font size of #results p */
  box-sizing: border-box;
  text-align: center;
}

.mentor-container{
    background-color: #999EB8;
  /* Default background color */
  color: #0e132aad;
}

.group-container {
  background-color: #FBBF3D;
  color: #443a07be;
  align-content: center;
}

.mentor-name, .team-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.mentor-company {
  margin: 0;
}

.option-text {
  text-align: left;
}

.mentor-options >p , .team-options>p{
  text-align: left;
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 768px) {

  .mentor-container,
  .group-container {
    width: 250px;
    /* Full width on smaller screens */
    font-size: 18px;
    /* Adjust font size for readability */
  }
}

